@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext');
//@import url('http://allfont.ru/allfont.css?fonts=bebas-neue');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&subset=cyrillic,cyrillic-ext,latin-ext');

@font-face {
  font-family: HelveticaNeueCyr Roman;
  src: url(../fonts/helveticaneue-roman-webfont-webfont.ttf);
}

@font-face {
  font-family: 'Bebas Neue Bold';
  src: url('../fonts/bebas/BebasNeueBold.eot');
  src: url('../fonts/bebas/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bebas/BebasNeueBold.woff') format('woff'),
  url('../fonts/bebas/BebasNeueBold.ttf') format('truetype');
  /*font-weight: normal;
  font-style: normal;*/
}

@font-face {
  font-family: 'Bebas Neue Regular';
  src: url('../fonts/bebas/BebasNeueRegular.eot');
  src: url('../fonts/bebas/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bebas/BebasNeueRegular.woff') format('woff'),
  url('../fonts/bebas/BebasNeueRegular.ttf') format('truetype');
  /*font-weight: normal;
  font-style: normal;*/
}

@font-face {
  font-family: 'Bebas Neue Light';
  src: url('../fonts/bebas/BebasNeueLight.eot');
  src: url('../fonts/bebas/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bebas/BebasNeueLight.woff') format('woff'),
  url('../fonts/bebas/BebasNeueLight.ttf') format('truetype');
  /*font-weight: normal;
  font-style: normal;*/
}

@font-face {
  font-family: 'Bebas Neue Book';
  src: url('../fonts/bebas/BebasNeueBook.eot');
  src: url('../fonts/bebas/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bebas/BebasNeueBook.woff') format('woff'),
  url('../fonts/bebas/BebasNeueBook.ttf') format('truetype');
  /*font-weight: normal;
  font-style: normal;*/
}

@font-face {
  font-family: 'Bebas Neue Thin';
  src: url('../fonts/bebas/BebasNeue-Thin.eot');
  src: url('../fonts/bebas/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bebas/BebasNeue-Thin.woff') format('woff'),
  url('../fonts/bebas/BebasNeue-Thin.ttf') format('truetype');
  /*font-weight: normal;
  font-style: normal;*/
}

h3 {
  font-family: 'Bebas Neue Regular', sans-serif;
  font-size: 42px;
  color: #404040;
  margin-top: 25px;
}

.breadcrumbs-title-common {
  margin: {
    top: 30px;
  }
  .breadcrumbs {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #6c6c6c;
  }

  h2, h1 {
    font-family: 'Bebas Neue Regular', sans-serif;
    font-size: 36px;
    color: #404040;
    margin-top: 5px;
  }

  border-bottom: 1px solid #ededed;
}

.breadcrumbs-title-without-border-common {
  border-bottom: none;
}

.documentation-common {
  border-bottom: 1px solid #ededed;
  padding-bottom: 30px;

  &.grey-table-common {
    .content {
      .item {
        justify-content: flex-start;
      }
    }
  }

  .content {
    display: flex;
    justify-content: space-between;

    .item {

      display: flex;
      height: 100%;
      justify-content: flex-end;

      a {
        font-family: 'Open Sans Semibold', sans-serif;
        font-size: 15px;
        line-height: 18px;
        color: #404040;
        text-decoration: none;
        padding-left: 20px;
        margin-top: -4px;

        &:hover {
          color: #bb1241;
        }
      }
    }
  }

  .subtitle {
    display: inline-block;
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 19px;
    line-height: 18px;
    color: #404040;
    margin-bottom: 20px;
  }
}

.documentation-common.documentation-without-text {
  .content {
    .item {
      width: auto;
    }
  }
}

.top-common {
  h3 {
    font-family: 'Bebas Neue Regular', sans-serif;
    font-size: 42px;
    color: #404040;
    margin-top: 25px;
  }
}

.grey-table-common {
  margin-top: 15px;
  table {
    width: 100%;
    background-color: #fafafa;
    text-align: left;
    caption {
      font-family: "Bebas Neue Regular", sans-serif;
      font-size: 42px;
      color: #404040;
      text-align: left;
      margin-bottom: 40px;

      span {
        font-family: "Open Sans Semibold", sans-serif;
        font-size: 19px;
        line-height: 18px;
        color: #404040;
      }
    }

    td,
    th {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      color: #404040;
      padding-left: 30px;
      height: 50px;
      border-right: 1px solid #ededed;
      border-top: 1px solid #ededed;
    }

    th {
      border-top: none;
    }

    td:nth-child(3),
    th:nth-child(3) {
      border-right: none;
    }

    td:nth-child(1),
    th:nth-child(1),
    td:nth-child(2),
    th:nth-child(2) {
      width: 250px;
    }

    th {
      font-weight: bold;
    }
  }

  .single-button-common {
    display: flex;
    justify-content: center;
    margin-top: 45px;

    a, button {
      padding: {
        left: 60px;
        right: 60px;
        top: 15px;
        bottom: 15px;
      }
    }
  }
}

.grey-table-6-common {
  margin-top: 15px;
  table {
    width: 100%;
    background-color: #ededed;
    border-bottom: 1px solid #ededed;

    text-align: left;
    caption {
      font-family: "Bebas Neue Regular", sans-serif;
      font-size: 42px;
      color: #404040;
      text-align: left;
      margin-bottom: 40px;

      span {
        font-family: "Open Sans Semibold", sans-serif;
        font-size: 19px;
        line-height: 18px;
        color: #404040;
      }
    }

    td,
    th {
      font-family: 'Open Sans', sans-serif;
      color: #404040;
      height: 50px;
      border-right: 1px solid #ededed;
      border-top: 1px solid #ededed;
      background-color: #fafafa;
    }

    td {
      font-size: 15px;
    }

    th {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 16px;
      border-top: none;
      background-color: #62a1da;
      color: #fff;
      text-transform: uppercase;
      padding: 12px 12px;
      height: 255px;
      vertical-align: top;
    }

    td:nth-child(6),
    th:nth-child(6) {
      border-right: none;
    }

    td {
      text-align: center;
    }

    th:nth-child(1) {
      width: 35px;
      text-align: center;
    }
    th:nth-child(2) {
      width: 90px;
      text-align: center;
    }
    th:nth-child(3),
    th:nth-child(4),
    th:nth-child(5) {
      width: 220px;
    }

    th {
      font-weight: bold;
    }
  }

  .single-button-common {
    display: flex;
    justify-content: center;
    margin-top: 45px;

    a, button {
      padding: {
        left: 60px;
        right: 60px;
        top: 15px;
        bottom: 15px;
      }
    }
  }
}

.grey-table-8-common {
  margin-top: 15px;
  table {
    width: 100%;
    background-color: #ededed;
    border-bottom: 1px solid #ededed;

    text-align: left;
    caption {
      font-family: "Bebas Neue Regular", sans-serif;
      font-size: 42px;
      color: #404040;
      text-align: left;
      margin-bottom: 40px;

      span {
        font-family: "Open Sans Semibold", sans-serif;
        font-size: 19px;
        line-height: 18px;
        color: #404040;
      }
    }

    td,
    th {
      font-family: 'Open Sans', sans-serif;
      color: #404040;
      height: 36px;
      border-right: 1px solid #ededed;
      border-top: 1px solid #ededed;
      background-color: #fafafa;
      vertical-align: middle;
    }

    td {
      font-size: 15px;
      height: 59px;
    }

    th {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 16px;
      border-top: none;
      background-color: #62a1da;
      color: #fff;
      text-transform: uppercase;
      padding: 12px 12px;
      text-align: center;
    }

    th:first-child {
      width: 215px;
      text-align: left;
    }

    td:nth-child(8),
    th:nth-child(8) {
      border-right: none;
    }

    td {
      text-align: center;
    }

    th {
      font-weight: bold;
    }
  }

  .single-button-common {
    display: flex;
    justify-content: center;
    margin-top: 45px;

    a, button {
      padding: {
        left: 60px;
        right: 60px;
        top: 15px;
        bottom: 15px;
      }
    }
  }

  .download-shedule {
    margin: {
      top: 30px;
    }
    a {
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      line-height: 18px;
      color: #404040;
      text-decoration: none;
      padding-left: 3px;

      &:hover {
        color: #bb1241;
      }
    }

    a, img {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.single-button-common {
  a, button {
    display: inline-block;
    border: 3px solid #ededed;
    padding: {
      left: 25px;
      right: 25px;
      top: 12px;
      bottom: 12px;
    }
    font-family: 'Open Sans Extrabold', sans-serif;
    font-size: 14px;
    color: #272727;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
  }
}

.simple-text-common {
  border-bottom: 1px solid #ededed;
  padding-bottom: 25px;
  margin-top: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #1a1e25;
}

.smi-common {
  border-bottom: 1px solid #ededed;
  padding-bottom: 30px;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      display: inline-block;
      border: 3px solid #ededed;
      padding: {
        left: 25px;
        right: 25px;
        top: 12px;
        bottom: 12px;
      }
      font-family: 'Open Sans Extrabold', sans-serif;
      font-size: 14px;
      color: #272727;
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
    }
  }

  .content {
    display: flex;
    justify-content: flex-start;

    .desc {
      margin-left: 15px;
      p {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        line-height: 24px;
        color: #1a1e25;
      }
      p.first {
        margin-top: -4px;
        margin-bottom: 0;
      }

      p.second {
        margin-top: 5px;
      }

      img {
        padding: {
          left: 10px;
          right: 10px;
        }
      }

      img.first {
        padding-left: 15px;
      }
    }
  }
}

.wrapper-testimonials-common {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  .tile {
    width: 33.3%;
    border-right: 1px solid #ededed;
    padding-right: 25px;
    padding-left: 25px;

    &:nth-child(1) {
      padding-left: 0;
    }

    &:nth-child(3) {
      border-right: none;
      padding-right: 0;
    }

    .tile-title {
      display: flex;
      align-items: center;

      div {
        padding-left: 15px;
        span, a {
          display: block;
          font-size: 14px;
        }

        span {
          font-family: 'Open Sans Extrabold', sans-serif;
          color: #272727;
          margin-bottom: 4px;
        }

        a {
          font-family: 'Open Sans Semibold', sans-serif;
          color: #5f8cc9;
        }
      }
    }

    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #272727;
    }
  }
}

.wrapper-testimonials-testimonialpage-common {
  display: flex;
  justify-content: center;
  width: 1210px;
  margin-left: -25px;

  .tile:first-child {
    padding: {
      left: 25px;
    }
  ;
  }

  .tile:last-child {
    padding: {
      right: 25px;
    }
  ;
  }

  .tile {
    width: 33.3%;
    border-right: 1px solid #ededed;
    padding-right: 25px;
    padding-left: 25px;
    padding: {
      top: 5px;
    }
    border-bottom: 3px solid transparent;

    &:hover {
      margin: {
        top: -3px;
        left: -3px;
        right: 0;
      }

      cursor: default;

      width: calc(33.3% - 2px);

      max-height: 208px;

      border: 3px solid #ededed;

      &:nth-child(3) {
        border-right: 3px solid #ededed;
        width: calc(33.3% - 3px);
      }
    }

    &:nth-child(3) {
      border-right: none;
    }

    .tile-title {
      display: flex;
      align-items: center;

      div {
        padding-left: 15px;
        span, a {
          display: block;
          font-size: 14px;
        }

        span {
          font-family: 'Open Sans Extrabold', sans-serif;
          color: #272727;
          margin-bottom: 4px;
        }

        a {
          font-family: 'Open Sans Semibold', sans-serif;
          color: #5f8cc9;

          &:hover {
            color: #bb1241;
          }
        }
      }
    }

    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #272727;
    }
  }
}

.simple-form-common {
  background-color: #f7f7f7;
  margin-top: 45px;
  padding: {
    top: 40px;
    bottom: 40px;
  }

  h3 {
    text-align: center;
    font-size: 30px;
    color: #171717;
    margin-top: 0;
  }

  form {
    width: 575px;
    margin: {
      left: auto;
      right: auto;
    }

    input, textarea {
      outline: none;
      border: 1px solid #cfcfcf;
      margin-bottom: 15px;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #515151;
      padding: {
        left: 40px;
        right: 20px;
      }
    }

    textarea {
      width: 533px;
      height: 94px;
      padding: {
        top: 10px;
        left: 20px;
        right: 20px;
      }
    }

    input {
      width: 513px;
      height: 43px;
    }

    input[name="name"] {
      background: url('../img/form-icon-name.png') no-repeat 15px 18px #fff;
    }

    input[name="email"] {
      background: url('../img/form-icon-email.png') no-repeat 15px 20px #fff;
    }

    input[type="checkbox"] {
      height: 15px;
      outline: none;
      width: auto;
      float: left;
      margin: 0;
      margin-top: 2px;
    }

    label {
      padding-left: 10px;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      color: #626262;
    }

    .single-button-common {
      display: flex;
      justify-content: center;
      margin-top: 40px;

      button {
        outline: none;
        border: 3px solid #a1a1a1;
        background: transparent;
        padding: {
          left: 70px;
          right: 70px;
          top: 14px;
          bottom: 14px;
        }
      }

      button:hover {
        cursor: pointer;
      }
    }
  }
}

.pagination-common {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  img, span, a {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    padding: {
      left: 12px;
      right: 12px;
    }
  }

  span, a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: #464646;
    padding: 2px 10px;
    text-decoration: none;
  }

  a:hover, .active {
    background-color: #62a1da;
    border-radius: 2px;
    color: #fff;
  }
}

.answer-question-common {
  /*  border-bottom: 1px solid #ededed;
    padding-bottom: 30px;*/

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      display: inline-block;
      border: 3px solid #ededed;
      padding: {
        left: 25px;
        right: 25px;
        top: 10px;
        bottom: 10px;
      }
      font-family: 'Open Sans Extrabold', sans-serif;
      font-size: 14px;
      color: #272727;
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
    }

  }

  .author {
    display: flex;
    align-items: center;

    div {
      padding-left: 15px;
      span, a {
        display: block;
        font-size: 14px;
      }

      span {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #272727;
        margin-bottom: 4px;
      }

      span:nth-child(2) {
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-weight: 300;
        font-size: 14px;
        color: #272727;
      }
    }
  }

  .content {
    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: #272727;
    }
  }

  .answer {
    background-color: #f3fafa;
    border-left: 3px solid #5ca2fc;
    padding-left: 20px;
    margin-bottom: 35px;

    .author {
      padding-top: 20px;
      .avatar {
        padding-left: 0;
      }
    }

    .content {
      padding-bottom: 1px;
      font-style: italic;
    }
  }
}

.vacancies-common {
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      display: inline-block;
      border: 3px solid #ededed;
      padding: {
        left: 25px;
        right: 25px;
        top: 10px;
        bottom: 10px;
      }
      font-family: 'Open Sans Extrabold', sans-serif;
      font-size: 14px;
      color: #272727;
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
    }

  }

  .wrapper {
    display: flex;
    justify-content: center;

    .tile {
      width: 33.3%;
      border-right: 1px solid #ededed;
      padding-right: 25px;
      padding-left: 25px;

      &:nth-child(1) {
        padding-left: 0;
      }

      &:nth-child(3) {
        border-right: none;
        padding-right: 0;
      }

      h4 {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 21px;
        line-height: 24px;
        color: #272727;
        margin-bottom: 4px;
      }

      p {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #272727;
      }
    }
  }
}

.news-tile-common {
  width: 272px;
  //height: 487px;
  height: 492px;
  position: relative;

  .abs-bg-blue-common {
    display: none;
  }

  &:hover {
    .abs-bg-blue-common {
      display: block;
      z-index: -1;
    }
  }

  .img {
    height: 284px;

    img {
      height: 284px;
      width: 100%;
      object-fit: cover;
    }
  }

  .date-container {
    position: absolute;
    top: 0;

    .date {
      display: inline-block;
      padding: 15px 20px;
      font-family: 'Open Sans Extrabold', sans-serif;
      font-size: 14px;
      color: #fff;
      text-align: center;
      border-right: 1px solid #fff;

      span {
        font-family: 'Open Sans Extrabold', sans-serif;
        font-size: 30px;
        color: #fff;
      }
    }
  }

  .content {
    background-color: #595959;

    border: {
      /*left: 1px solid #ededed;
      right: 1px solid #ededed;*/
      bottom: 1px solid #ededed;
    }

    padding: {
      top: 10px;
      bottom: 25px;
      left: 20px;
      right: 10px;
    }

    h3 {
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      line-height: 24px;
      color: #fff;
      margin: 0;
    }

    .text {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 18px;
      color: #fff;
    }

    .single-button-common {
      display: block;

      a {
        color: #fff;
        font-size: 12px;
        padding: 10px 30px;
        border-color: #62a1da;
      }
    }
  }

  &:nth-child(2n) {
    .date-container {
      .date {
        color: #000;
        border-right: 1px solid #e4e4e4;

        span {
          color: #000;
        }
      }
    }

    .content {
      background-color: #fff;

      h3 {
        color: #272727;
      }

      .text {
        color: #272727;
      }

      .single-button-common {
        a {
          color: #272727;
        }
      }
    }
  }
}

.price-common {
  margin-bottom: 80px;

  .item, .single-button-common {
    display: flex;
    justify-content: center;
  }

  .item {
    margin: {
      left: -20px;
    }
  }
}

.winter-season-tiles-common {
  border-bottom: 1px solid #ededed;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .tile {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 400px;
    text-decoration: none;

    .abs-bg-blue-common {
      display: none;
    }

    img.hover {
      display: none;
    }

    &:hover {
      .abs-bg-blue-common {
        display: block;
      }

      .black {
        display: none;
      }

      img.simple {
        display: none;
      }

      img.hover {
        display: block;
      }
    }

    img, span {
      display: block;
      margin: {
        left: auto;
        right: auto;
      }
    }

    span {
      font-family: 'Bebas Neue Regular', sans-serif;
      font-size: 36px;
      color: #fff;
      margin-top: 15px;
    }

    .icon-wrap {
      z-index: 2;
    }

    .black {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: .5;
      z-index: 1;
    }
  }
}

.price-with-desc-common {

  .block {
    .content {
      .single-button-common {
        margin: {
          top: 20px;
        }

        a {
          border-color: #62a1da;
          padding: 10px 58px;
        }
      }
    }
  }

  h2 {
    font-family: 'Bebas Neue Regular', sans-serif;
    font-size: 33px;
    color: #404040;
    margin-bottom: 10px;
  }

  .block {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    height: 337px;

    .img {
      width: 340px;
    }

    .content {
      width: 360px;
      padding: {
        left: 25px;
        right: 15px;
      }

      p {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 18px;
        color: #272727;
      }
    }

    .prices {
      width: 400px;

      h3 {
        font-family: 'Bebas Neue Regular', sans-serif;
        font-size: 25px;
        color: #404040;
        letter-spacing: 0.075em;
        margin-bottom: 10px;
      }

      & > span {
        display: inline-block;
        padding: {
          right: 23px;
          left: 20px;
        }
        border-right: 1px solid #ededed;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 30px;
        color: #272727;
        text-align: center;
      }

      & > span.first {
        padding-left: 10px;
      }

      & > span.last {
        border-right: none;
      }

      & > span span {
        font-weight: bold;
      }
    }
  }
}

.price-with-desc-v2-common {
  .block {
    .flex-wrap-prices-common {
      width: 245px;

      .prices {
        text-align: center;
        .item {
          border-right: none;
        }
      }
    }

    .content {
      width: 550px;
      margin: {
        top: 25px;
      }
      padding: {
        left: 0;
        right: 55px;
      }
    }
  }
}

.price-with-desc-v3-1-common {
  .block {
    justify-content: flex-start;

    .content {
      width: 715px;

      padding: {
        left: 30px;
      }

      .prices {

        &.dots {
          margin: {
            top: 15px;
          }
        }

        .price {
          padding: {
            left: 0;
          }
          border: {
            right: none;
          }
        }

        .phone {
          font-size: 20px;
          margin: {
            top: 0;
            left: 2px;
          }
        }
      }
    }
  }
}

.price-with-desc-v3-common {
  margin: {
    top: 40px;
  }

  h2 {
    margin: {
      bottom: 25px;
    }
  }

  .block {
    .prices {

      h3 {
        margin: {
          top: 15px;
        }
      }

      .phone {
        font-family: 'Open Sans Semibold', sans-serif;
        font-size: 22px;
        color: #404040;
        background: url("../img/blue-phone-icon.png") 0 7px no-repeat;
        padding: {
          left: 30px;
        }
        margin: {
          top: 30px;
          left: 10px;
        }
        border-right: none;
      }

      .last {
        border-right: none;
      }

      & > span {
        padding: {
          right: 20px;
          left: 20px;
        }
      }
    }
  }
}

.flex-wrap-prices-common {
  width: 217px;
  display: flex;
  justify-content: center;
  align-items: center;

  .prices {
    .item {
      display: block;
      border-bottom: 1px solid #ededed;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      line-height: 30px;
      color: #272727;
      padding: {
        bottom: 14px;
        top: 14px;
      }

      .dots {
        color: #a3a3a3;
        font-weight: 300;
      }

      span {
        font-weight: bold;
      }
    }

    .item:last-child {
      border-bottom: none;
    }
  }
}

.top-prices-common {
  display: flex;
  justify-content: space-between;

  .item {
    h2 {
      font-family: 'Bebas Neue Regular', sans-serif;
      font-size: 33px;
      color: #404040;
      margin: {
        bottom: 10px;
      }
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    width: 556px;
    background-color: #f8f8f8;

    .flex-wrap {
      width: 217px;
      display: flex;
      justify-content: center;
      align-items: center;

      .prices {
        .item {
          display: block;
          border-bottom: 1px solid #ededed;
          font-family: 'Open Sans', sans-serif;
          font-size: 18px;
          line-height: 30px;
          color: #272727;
          padding: {
            bottom: 14px;
            top: 14px;
          }

          .dots {
            color: #a3a3a3;
            font-weight: 300;
          }

          span {
            font-weight: bold;
          }
        }

        .item:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.inner-container-1139-common {
  width: 1139px;
  margin: {
    left: auto;
    right: auto;
  }
}

.abs-bg-common {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  z-index: 1;
}

.abs-bg-blue-common {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 2px solid #64a1d0;
  .shadow {
    position: absolute;
    left: -2px;
    top: -2px;
    width: 100%;
    height: 100%;
    background-color: #62a1da;
    opacity: .4;
    z-index: 1;
    box-shadow: 0 0 45px #62a1da;
    border: 2px solid #64a1d0;
  }
}

.sg-common {
  .block {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ededed;
    padding: {
      bottom: 15px;
    }

    .left-side, .right-side {
      width: 50%;
      padding: {
        right: 5%;
      }

      h2 {
        font-family: 'Bebas Neue Regular', sans-serif;
        font-size: 33px;
        color: #404040;
        margin: {
          bottom: 15px;
        }
      }

      p {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 18px;
        color: #272727;
      }
    }

    &.middle {
      border-bottom: none;

      .left-side {
        width: 100%;
        padding: {
          right: 3%;
        }
      }
    }

    &.bottom {
      border-bottom: none;

      .left-side, .right-side {
        width: 489px;
        background-color: #f8f8f8;
        padding: {
          left: 25px;
          right: 40px;
          top: 0;
          bottom: 0;
        }
      }

      .left-side {
        padding: {
          bottom: 20px;
        }

        .flex-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            margin: {
              top: 0;
            }

            padding: {
              left: 20px;
            }
          }
        }
      }
    }
  }

  .trainer-phone {
    margin-left: 164px;
    margin-top: -7px;
    /*h2 {
      font-family: 'Bebas Neue Regular', sans-serif;
      font-size: 27px;
      color: #404040;
      letter-spacing: 0.05em;
      margin: {
        bottom: 12px;
      }
    }*/

    .phone {
      font-family: 'Open Sans Semibold', sans-serif;
      font-size: 22px;
      color: #404040;
      background: url("../img/blue-phone-icon.png") 0 7px no-repeat;
      padding: {
        left: 30px;
      }
      border-right: none;
    }
  }
}

.main-sg-common {
  h1 {
    margin-bottom: 25px;
  }
}

.visually-impaired-common {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #454545;
  width: 200px;
  position: absolute;
  top: 3px;
  display: flex;
  align-items: center;

  img {
    padding: {
      right: 5px;
    }
  }

  text-decoration: none;
}

.phone-email-common {
  position: relative;
}

.search-field-common {
  input[type="text"]:focus {
    border-color: #bb1241 !important;
  }
}

.header-top-adapt-common {
  margin: {
    top: 0 !important;
  }
}

.header-menu-common {
  background: url(../img/menu-bg.png) no-repeat;
  background-size: cover;
  height: 57px;

  div {
    height: 57px;
    width: 1170px;
    min-width: 1170px;
    margin: {
      left: auto;
      right: auto;
    }

    nav ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: {
        left: 0;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 12px;
        color: #fff;
        text-decoration: none;
        width: 126px;
        text-align: center;
        border-right: 1px solid #e4e4e4;

        &.nav-item-hide {
          width: 125px;
        }

        .submenu {
          display: none;
        }

        a {
          border: none !important;
          height: 100%;
        }
      }

      li.has-submenu {
        position: relative;
      }

      li:hover {
        background-color: #333333;
      }

      li.has-submenu:hover {
        .submenu {
          display: block;
          position: absolute;
          z-index: 4;
          top: 57px;
          left: 0;
          width: 186px;

          li {
            width: 100%;
            background-color: #333333;
            border: {
              top: 1px solid #3f3f3f;
            }
            text-transform: none;
            height: 43px;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            line-height: 15px;
            letter-spacing: 0.025em;
            border: {
              left: none;
              right: none;
            }

            a {
              width: 100%;
              justify-content: flex-start;
              padding: {
                left: 22px;
              }
            }
          }

          li:hover {
            background-color: #62a1da;
            color: #fff;
          }
        }
      }

      li:first-child {
        border-left: 1px solid #e4e4e4;
      }
    }
  }
}

@media only screen and (max-width: 1170px) {
  .header-menu-common {
    background: none !important;
    margin-bottom: 57px;
    div nav ul:first-child .nav-item-hide {
      display: none;
    }

    div nav ul:first-child {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    div nav ul:first-child, .nav-adapt {
      background: url(../img/menu-bg.png) no-repeat;
    }

    .nav-adapt {
      display: flex !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    div ul {
      width: 100% !important;
      min-width: 100% !important;

      li {
        width: 100% !important;
      }
    }
  }
}

.img-100-text-common {
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #272727;
    margin: {
      bottom: 30px;
    }
  }
}

.main-news-common {
  .breadcrumbs-title-common {
    border: none;
  }

  .news-wrap {
    display: flex;
    //justify-content: space-between;
    justify-content: flex-start;
    margin-bottom: 25px;

    .news-tile-common {
      margin: {
        right: 17px;
      }

      &:last-child {
        margin: {
          right: 0;
        }
      }
    }
  }

  & > .single-button-common {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    a {
      padding: 15px 60px;
    }
  }
}

.search-form-common {
  width: 100%;
  order: 3;
  position: relative;
  margin-top: 38px;

  input {
    outline: none;
  }

  input[type="text"] {
    height: 38px;
    padding-left: 10px;
    border: 1px solid #dcdcdc;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #4a4a4a;
    text-transform: uppercase;
    width: 315px;
  }

  input[type="image"] {
    position: absolute;
    left: 299px;
    top: 12px;
  }

  ::-webkit-input-placeholder {
    color: #dddddd;
  }
  ::-moz-placeholder {
    color: #dddddd;
  }
  /* Firefox 19+ */
  :-moz-placeholder {
    color: #dddddd;
  }
  /* Firefox 18- */
  :-ms-input-placeholder {
    color: #dddddd;
  }
}

.table-blue-titles-common {
  table {
    width: 100%;
    border-collapse: collapse;
    tr {
      th {
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #fff;
        background-color: #62a1da;
        text-transform: uppercase;
        text-align: center;
        padding: {
          top: 11px;
          bottom: 11px;
        }
        border-right: 1px solid #ededed;
        &:last-child {
          border-right: none;
        }

        &:nth-child(1) {
          width: 225px;
        }
        &:nth-child(2) {
          width: 183px;
        }
        &:nth-child(3) {
          width: 159px;
        }
        &:nth-child(4) {
          width: 238px;
        }
        &:nth-child(5) {
          width: 169px;
        }
      }

      td {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        color: #404040;
        text-align: center;
        padding: {
          left: 22px;
          right: 22px;
        }
        background-color: #fafafa;
        border: 1px solid #ededed;

        img {
          padding: {
            top: 5px;
            bottom: 5px;
          }
        }
      }

      td:first-child {
        border-left: none;
      }
      td:last-child {
        border-right: none;
      }
    }
  }
}

.services-common {
  h3 {
    margin: {
      bottom: 20px;
      top: 40px;
    }
  }

  .flex-wrap {
    a {
      position: relative;

      .abs-bg-blue-common {
        display: none;
        height: 98%;
      }
    }

    a:hover {
      .abs-bg-blue-common {
        display: block;
      }
    }
  }

  .single-button-common {
    display: flex;
    justify-content: center;
    margin: {
      top: 45px;
    }

    a {
      border-color: #62a1da;
      padding: 10px 58px;
    }
  }

  .flex-wrap {
    display: flex;
    justify-content: space-between;
  }
}

.modal-common {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

  .modal-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;

    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
    }

    h1, .title {
      font-weight: normal;
      display: block;
      font-family: Bebas Neue Regular,sans-serif;
      text-align: center;
      font-size: 30px;
      color: #171717;
    }
  }
  .close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
  }
  .close-button:hover {
    background-color: darkgray;
  }
  &.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
}