h3 {
  font-family: 'Bebas Neue Regular', sans-serif;
  font-size: 42px;
  color: #404040;
  margin-top: 25px;
}

.breadcrumbs-title-common {
  margin: {
    top: 30px;
  }
  .breadcrumbs {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #6c6c6c;
  }

  h2, h1 {
    font-family: 'Bebas Neue Regular', sans-serif;
    font-size: 36px;
    color: #404040;
    margin-top: 5px;
  }

  border-bottom: 1px solid #ededed;
}

.breadcrumbs-title-without-border-common {
  border-bottom: none;
}

.documentation-common {
  border-bottom: 1px solid #ededed;
  padding-bottom: 30px;

  .content {
    display: flex;
    justify-content: space-between;

    .item {

      display: flex;
      height: 100%;
      justify-content: flex-end;

      a {
        font-family: 'Open Sans Semibold', sans-serif;
        font-size: 15px;
        line-height: 18px;
        color: #404040;
        text-decoration: none;
        padding-left: 20px;
        margin-top: -4px;
      }
    }
  }

  .subtitle {
    display: inline-block;
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 19px;
    line-height: 18px;
    color: #404040;
    margin-bottom: 20px;
  }
}

.documentation-common.documentation-without-text {
  .content {
    .item {
      width: auto;
    }
  }
}

.top-common {
  h3 {
    font-family: 'Bebas Neue Regular', sans-serif;
    font-size: 42px;
    color: #404040;
    margin-top: 25px;
  }
}

.grey-table-common {
  margin-top: 15px;
  table {
    width: 100%;
    background-color: #fafafa;
    text-align: left;
    caption {
      font-family: "Bebas Neue Regular", sans-serif;
      font-size: 42px;
      color: #404040;
      text-align: left;
      margin-bottom: 40px;

      span {
        font-family: "Open Sans Semibold", sans-serif;
        font-size: 19px;
        line-height: 18px;
        color: #404040;
      }
    }

    td,
    th {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      color: #404040;
      padding-left: 30px;
      height: 50px;
      border-right: 1px solid #ededed;
      border-top: 1px solid #ededed;
    }

    th {
      border-top: none;
    }

    td:nth-child(3),
    th:nth-child(3) {
      border-right: none;
    }

    td:nth-child(1),
    th:nth-child(1),
    td:nth-child(2),
    th:nth-child(2) {
      width: 250px;
    }

    th {
      font-weight: bold;
    }
  }

  .single-button-common {
    display: flex;
    justify-content: center;
    margin-top: 45px;

    a, button {
      padding: {
        left: 60px;
        right: 60px;
        top: 15px;
        bottom: 15px;
      }
    }
  }
}

.single-button-common {
  a, button {
    display: inline-block;
    border: 3px solid #ededed;
    padding: {
      left: 25px;
      right: 25px;
      top: 12px;
      bottom: 12px;
    }
    font-family: 'Open Sans Extrabold', sans-serif;
    font-size: 14px;
    color: #272727;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
  }
}

.simple-text-common {
  border-bottom: 1px solid #ededed;
  padding-bottom: 25px;
  margin-top: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #1a1e25;
}

.smi-common {
  border-bottom: 1px solid #ededed;
  padding-bottom: 30px;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      display: inline-block;
      border: 3px solid #ededed;
      padding: {
        left: 25px;
        right: 25px;
        top: 12px;
        bottom: 12px;
      }
      font-family: 'Open Sans Extrabold', sans-serif;
      font-size: 14px;
      color: #272727;
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
    }
  }

  .content {
    display: flex;
    justify-content: flex-start;

    .desc {
      margin-left: 15px;
      p {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        line-height: 24px;
        color: #1a1e25;
      }
      p.first {
        margin-top: -4px;
        margin-bottom: 0;
      }

      p.second {
        margin-top: 5px;
      }

      img {
        padding: {
          left: 10px;
          right: 10px;
        }
      }

      img.first {
        padding-left: 15px;
      }
    }
  }
}

.wrapper-testimonials-common {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  .tile {
    width: 33.3%;
    border-right: 1px solid #ededed;
    padding-right: 25px;
    padding-left: 25px;

    &:nth-child(1) {
      padding-left: 0;
    }

    &:nth-child(3) {
      border-right: none;
      padding-right: 0;
    }

    .tile-title {
      display: flex;
      align-items: center;

      div {
        padding-left: 15px;
        span, a {
          display: block;
          font-size: 14px;
        }

        span {
          font-family: 'Open Sans Extrabold', sans-serif;
          color: #272727;
          margin-bottom: 4px;
        }

        a {
          font-family: 'Open Sans Semibold', sans-serif;
          color: #5f8cc9;
        }
      }
    }

    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #272727;
    }
  }
}

.simple-form-common {
  background-color: #f7f7f7;
  margin-top: 45px;
  padding: {
    top: 40px;
    bottom: 40px;
  }

  h3 {
    text-align: center;
    font-size: 30px;
    color: #171717;
    margin-top: 0;
  }

  form {
    width: 575px;
    margin: {
      left: auto;
      right: auto;
    }

    input, textarea {
      outline: none;
      border: 1px solid #cfcfcf;
      margin-bottom: 15px;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #515151;
      padding: {
        left: 40px;
        right: 20px;
      }
    }

    textarea {
      width: 533px;
      height: 94px;
      padding: {
        top: 10px;
        left: 20px;
        right: 20px;
      }
    }

    input {
      width: 513px;
      height: 43px;
    }

    input[name="name"] {
      background: url('../img/form-icon-name.png') no-repeat 15px 18px #fff;
    }

    input[name="email"] {
      background: url('../img/form-icon-email.png') no-repeat 15px 20px #fff;
    }

    input[type="checkbox"] {
      height: 15px;
      outline: none;
      width: auto;
      float: left;
      margin: 0;
      margin-top: 2px;
    }

    label {
      padding-left: 10px;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      color: #626262;
    }

    .single-button-common {
      display: flex;
      justify-content: center;
      margin-top: 40px;

      button {
        outline: none;
        border: 3px solid #a1a1a1;
        background: transparent;
        padding: {
          left: 70px;
          right: 70px;
          top: 14px;
          bottom: 14px;
        }
      }

      button:hover {
        cursor: pointer;
      }
    }
  }
}

.pagination-common {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  img, span, a {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    padding: {
      left: 12px;
      right: 12px;
    }
  }

  span, a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    color: #464646;
    padding: 2px 10px;
    text-decoration: none;
  }

  .active {
    background-color: #62a1da;
    border-radius: 2px;
    color: #fff;
  }
}

.answer-question-common {
  /*  border-bottom: 1px solid #ededed;
    padding-bottom: 30px;*/

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      display: inline-block;
      border: 3px solid #ededed;
      padding: {
        left: 25px;
        right: 25px;
        top: 10px;
        bottom: 10px;
      }
      font-family: 'Open Sans Extrabold', sans-serif;
      font-size: 14px;
      color: #272727;
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
    }

  }

  .author {
    display: flex;
    align-items: center;

    div {
      padding-left: 15px;
      span, a {
        display: block;
        font-size: 14px;
      }

      span {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #272727;
        margin-bottom: 4px;
      }

      span:nth-child(2) {
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-weight: 300;
        font-size: 14px;
        color: #272727;
      }
    }
  }

  .content {
    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: #272727;
    }
  }

  .answer {
    background-color: #f3fafa;
    border-left: 3px solid #5ca2fc;
    padding-left: 20px;
    margin-bottom: 35px;

    .author {
      padding-top: 20px;
      .avatar {
        padding-left: 0;
      }
    }

    .content {
      padding-bottom: 1px;
      font-style: italic;
    }
  }
}

.vacancies-common {
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      display: inline-block;
      border: 3px solid #ededed;
      padding: {
        left: 25px;
        right: 25px;
        top: 10px;
        bottom: 10px;
      }
      font-family: 'Open Sans Extrabold', sans-serif;
      font-size: 14px;
      color: #272727;
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
    }

  }

  .wrapper {
    display: flex;
    justify-content: center;

    .tile {
      width: 33.3%;
      border-right: 1px solid #ededed;
      padding-right: 25px;
      padding-left: 25px;

      &:nth-child(1) {
        padding-left: 0;
      }

      &:nth-child(3) {
        border-right: none;
        padding-right: 0;
      }

      h4 {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 21px;
        line-height: 24px;
        color: #272727;
        margin-bottom: 4px;
      }

      p {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #272727;
      }
    }
  }
}

.news-tile-common {
  width: 272px;
  height: 487px;

  .img {
    height: 230px;
  }

  .content {
    border: {
      left: 1px solid #ededed;
      right: 1px solid #ededed;
      bottom: 1px solid #ededed;
    }

    padding: {
      top: 18px;
      bottom: 18px;
      left: 10px;
      right: 10px;
    }

    .date {
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      line-height: 18px;
      color: #7a7a7a;
    }

    h3 {
      font-family: 'Open Sans', sans-serif;
      font-size: 23px;
      line-height: 24px;
      color: #272727;
      margin: 0;
    }

    .text {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 18px;
      color: #272727;
    }

    .single-button-common {
      display: block;

      a {
        font-size: 12px;
        padding: 10px 25px;
      }
    }
  }
}

.price-common {
  margin-bottom: 80px;

  .item, .single-button-common {
    display: flex;
    justify-content: center;
  }

  .item {
    margin: {
      left: -20px;
    }
  }
}

.winter-season-tiles-common {
  border-bottom: 1px solid #ededed;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .tile {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 400px;

    img, span {
      display: block;
      margin: {
        left: auto;
        right: auto;
      }
    }

    span {
      font-family: 'Bebas Neue Regular', sans-serif;
      font-size: 36px;
      color: #fff;
      margin-top: 15px;
    }

    .icon-wrap {
      z-index: 2;
    }

    .black {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: .5;
      z-index: 1;
    }
  }
}

.price-with-desc-common {
  h2 {
    font-family: 'Bebas Neue Regular', sans-serif;
    font-size: 33px;
    color: #404040;
    margin-bottom: 10px;
  }

  .block {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    height: 337px;

    .img {
      width: 340px;
    }

    .content {
      width: 360px;
      padding: {
        left: 25px;
        right: 15px;
      }

      p {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 18px;
        color: #272727;
      }
    }

    .prices {
      width: 400px;

      h3 {
        font-family: 'Bebas Neue Regular', sans-serif;
        font-size: 25px;
        color: #404040;
        letter-spacing: 0.075em;
        margin-bottom: 10px;
      }

      & > span {
        display: inline-block;
        padding: {
          right: 23px;
          left: 20px;
        }
        border-right: 1px solid #ededed;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 30px;
        color: #272727;
        text-align: center;
      }

      & > span.first {
        padding-left: 10px;
      }

      & > span.last {
        border-right: none;
      }

      & > span span {
        font-weight: bold;
      }
    }
  }
}

.price-with-desc-v2-common {
  .block {
    .flex-wrap-prices-common {
      width: 245px;

      .prices {
        text-align: center;
        .item {
          border-right: none;
        }
      }
    }

    .content {
      width: 550px;
      margin: {
        top: 25px;
      }
      padding: {
        left: 0;
        right: 55px;
      }
    }
  }
}

.price-with-desc-v3-common {
  margin: {
    top: 40px;
  }

  h2 {
    margin: {
      bottom: 25px;
    }
  }

  .block {
    .prices {

      h3 {
        margin: {
          top: 15px;
        }
      }

      .phone {
        font-family: 'Open Sans Semibold', sans-serif;
        font-size: 22px;
        color: #404040;
        background: url("../img/blue-phone-icon.png") 0 7px no-repeat;
        padding: {
          left: 30px;
        }
        margin: {
          top: 30px;
          left: 10px;
        }
        border-right: none;
      }

      .last {
        border-right: none;
      }

      & > span {
        padding: {
          right: 20px;
          left: 20px;
        }
      }
    }
  }
}

.flex-wrap-prices-common {
  width: 217px;
  display: flex;
  justify-content: center;
  align-items: center;

  .prices {
    .item {
      display: block;
      border-bottom: 1px solid #ededed;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      line-height: 30px;
      color: #272727;
      padding: {
        bottom: 14px;
        top: 14px;
      }

      .dots {
        color: #a3a3a3;
        font-weight: 300;
      }

      span {
        font-weight: bold;
      }
    }

    .item:last-child {
      border-bottom: none;
    }
  }
}

.top-prices-common {
  display: flex;
  justify-content: space-between;

  .item {
    h2 {
      font-family: 'Bebas Neue Regular', sans-serif;
      font-size: 33px;
      color: #404040;
      margin: {
        bottom: 10px;
      }
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    width: 556px;
    background-color: #f8f8f8;

    .flex-wrap {
      width: 217px;
      display: flex;
      justify-content: center;
      align-items: center;

      .prices {
        .item {
          display: block;
          border-bottom: 1px solid #ededed;
          font-family: 'Open Sans', sans-serif;
          font-size: 18px;
          line-height: 30px;
          color: #272727;
          padding: {
            bottom: 14px;
            top: 14px;
          }

          .dots {
            color: #a3a3a3;
            font-weight: 300;
          }

          span {
            font-weight: bold;
          }
        }

        .item:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.inner-container-1139-common {
  width: 1139px;
  margin: {
    left: auto;
    right: auto;
  }
}

.abs-bg-common {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  z-index: 1;
}

.sg-common {
  .block {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ededed;
    padding: {
      bottom: 15px;
    }

    .left-side, .right-side {
      width: 50%;
      padding: {
        right: 5%;
      }

      h2 {
        font-family: 'Bebas Neue Regular', sans-serif;
        font-size: 33px;
        color: #404040;
        margin: {
          bottom: 15px;
        }
      }

      p {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 18px;
        color: #272727;
      }
    }

    &.middle {
      border-bottom: none;

      .left-side {
        width: 100%;
        padding: {
          right: 3%;
        }
      }
    }

    &.bottom {
      border-bottom: none;

      .left-side, .right-side {
        width: 489px;
        background-color: #f8f8f8;
        padding: {
          left: 25px;
          right: 40px;
          top: 0;
          bottom: 0;
        }
      }
    }
  }

  .trainer-phone {
    h2 {
      font-family: 'Bebas Neue Regular', sans-serif;
      font-size: 27px;
      color: #404040;
      letter-spacing: 0.05em;
      margin: {
        bottom: 12px;
      }
    }

    .phone {
      font-family: 'Open Sans Semibold', sans-serif;
      font-size: 22px;
      color: #404040;
      background: url("../img/blue-phone-icon.png") 0 7px no-repeat;
      padding: {
        left: 30px;
      }
      border-right: none;
    }
  }
}

.main-sg-common {
  h1 {
    margin-bottom: 25px;
  }
}

.visually-impaired-common {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #454545;
  width: 200px;
  position: absolute;
  top: 3px;
  display: flex;
  align-items: center;

  img {
    padding: {
      right: 5px;
    }
  }

  text-decoration: none;
}

.phone-email-common {
  position: relative;
}

.search-field-common {
  input[type="text"]:focus {
    border-color: #bb1241 !important;
  }
}

.header-top-adapt-common {
  margin: {
    top: 0 !important;
  }
}

.header-menu-common {
  background: url(../img/menu-bg.png) no-repeat;
  background-size: cover;
  height: 57px;

  div {
    height: 57px;
    width: 1170px;
    min-width: 1170px;
    margin: {
      left: auto;
      right: auto;
    }

    nav ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: {
        left: 0;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 12px;
        color: #fff;
        text-decoration: none;
        width: 126px;
        text-align: center;
        border-right: 1px solid #e4e4e4;


        &.nav-item-hide {
          width: 125px;
        }

        .submenu {
          display: none;
        }


        a {
          border: none !important;
          height: 100%;
        }
      }

      li.has-submenu {
        position: relative;
      }


      li:hover {
        background-color: #333333;
      }

      li.has-submenu:hover {
        .submenu {
          display: block;
          position: absolute;
          top: 57px;
          left: 0;
          width: 186px;

          li {
            width: 100%;
            background-color: #333333;
            border: {
              top: 1px solid #3f3f3f;
            }
            text-transform: none;
            height: 43px;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            line-height: 15px;
            letter-spacing: 0.025em;
            border: {
              left: none;
              right: none;
            }

            a {
              width: 100%;
              justify-content: flex-start;
              padding: {
                left: 22px;
              }
            }
          }

          li:hover {
            background-color: #62a1da;
            color: #fff;
          }
        }
      }

      li:first-child {
        border-left: 1px solid #e4e4e4;
      }
    }
  }
}

@media only screen and (max-width: 1170px) {
  .header-menu-common {
    background: none !important;
    margin-bottom: 57px;
    div nav ul:first-child .nav-item-hide{
      display: none;
    }

    div nav ul:first-child {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    div nav ul:first-child, .nav-adapt {
      background: url(../img/menu-bg.png) no-repeat;
    }

    .nav-adapt {
      display: flex !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    div ul {
      width: 100% !important;
      min-width: 100% !important;

      li {
        width: 100% !important;
      }
    }
  }
}

.img-100-text-common {
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #272727;
    margin: {
      bottom: 30px;
    }
  }
}