.main-batut-center {

  .inner-container {
    width: 1139px;
  }

  .breadcrumbs-title-common {
    border-bottom: none;
  }

  .price-with-desc-common {
    .block {
      .content {
        .single-button-common {
          margin: {
            top: 20px;
          }

          a {
            border-color: #62a1da;
            padding: 10px 58px;
          }
        }
      }
    }
  }

  .content-block {
    display: flex;
    justify-content: center;
    height: 260px;
    margin: {
      bottom: 20px;
    }

    img {
      width: 260px;
    }

    .right-side {
      background-color: #f8f8f8;
      width: 824px;
      padding: {
        left: 25px;
        right: 30px;
        top: 5px;
      }

      p {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 18px;
        color: #272727;
      }
    }

    &.block-1 {
      .left-side {
        background-image: url("../img/skiing/img-1.png");
      }
    }
    &.block-2 {
      .left-side {
        background-image: url("../img/skiing/img-1.png");
      }
    }
    &.block-3 {
      .left-side {
        background-image: url("../img/skiing/img-1.png");
      }
    }
    &.block-4 {
      .left-side {
        background-image: url("../img/skiing/img-1.png");
      }
    }
    &.block-5 {
      .left-side {
        background-image: url("../img/skiing/img-1.png");
      }
    }
    &.block-6 {
      .left-side {
        background-image: url("../img/skiing/img-1.png");
      }
    }
    &.block-7 {
      .left-side {
        background-image: url("../img/skiing/img-1.png");
      }
    }
    &.block-8 {
      .left-side {
        background-image: url("../img/skiing/img-1.png");
      }
    }

    .price-with-desc-common {
      margin: {
        top: 40px;
      }
    }
  }

  h2.inner-container {
    font-family: 'Bebas Neue Regular', sans-serif;
    font-size: 33px;
    color: #404040;
    margin: {
      top: 65px;
      bottom: 25px;
    }
  }

  .content-block-2 {
    .right-side {
      padding: {
        top: 0;
      }

      h3 {
        font-family: 'Open Sans Semibold', sans-serif;
        font-size: 22px;
        color: #272727;
        margin: 0;
      }

      p:nth-child(1) {
        margin: {
          top: 20px;
        }
      }
    }
  }

  .grey-table-6-common {
    margin: {
      top: 40px;
    }

    h3 {
      margin: {
        bottom: 20px;
      }
    }

    table {
      caption {
        font-size: 33px;
        margin: {
          bottom: 22px;
        }
      }

      tr {
        .bold {
          text-align: center;
          font-family: 'Open Sans Condensed',sans-serif;
          font-size: 15px;
          color: #404040;
          font-weight: bold;
          text-transform: uppercase;
        }

        &.without-border {
          th {
            border-color: #62a1da;
          }
        }
      }

      th {
        font-family: 'Open Sans Condensed',sans-serif;
        font-size: 15px;
        color: #404040;
        height: 36px;
        background-color: #fafafa;
        vertical-align: middle;
        text-align: center;
        width: 33.3%;
      }

      td {
        text-align: center;
        padding: {
          left: 12px;
        }
      }

      th.blue {
        background-color: #62a1da;
        color: #fff;
      }
    }

    .single-button-common {
      margin: {
        top: 58px;
      }

      a {
        border-color: #62a1da;
        padding: 12px 58px;
      }
    }
  }

  .services {
    h3 {
      margin: {
        bottom: 20px;
        top: 40px;
      }
    }

    .single-button-common {
      display: flex;
      justify-content: center;
      margin: {
        top: 45px;
      }

      a {
        border-color: #62a1da;
        padding: 10px 58px;
      }
    }

    .flex-wrap {
      display: flex;
      justify-content: space-between;
    }
  }
}