.main-photo-and-video {
  .group-tiles {
    display: flex;
    justify-content: space-between;
    margin: {
      top: 10px;
    }

    .tile {
      height: 398px;
      width: 557px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      text-decoration: none;
      position: relative;

      .abs-bg-blue-common {
        display: none;
      }

      .flex-wrap {
        .img-wrap.hover {
          display: none;
        }
      }

      &:hover {
        .abs-bg-blue-common {
          display: block;
        }

        .abs-bg-common {
          display: none;
        }

        .flex-wrap {
          .img-wrap.simple {
            display: none;
          }

          .img-wrap.hover {
            display: block;
          }
        }
      }

      .flex-wrap {
        z-index: 2;
        text-align: center;
        padding: {
          left: 65px;
          right: 65px;
        }

        .img-wrap {
          height: 53px;
          //display: flex;
          //align-items: center;
          //justify-content: center;
        }

        h2 {
          font-family: 'Bebas Neue Regular', sans-serif;
          font-size: 36px;
          letter-spacing: 0.1em;
          color: #fff;
          margin: {
            top: 10px;
            bottom: 0;
          }
        }
      }
    }
  }

  .group-1 {
    .tile:nth-child(1) {
      background-image: url("../img/bg-for-video-light.png");
    }
    .tile:nth-child(2) {
      background-image: url("../img/bg-for-video-2-light.png");
    }
  }
}