.main-procurement {
  .content {
    justify-content: flex-start;
    margin-bottom: 25px;

    .item {
      margin-right: 45px;
      width: 330px;
    }
  }

  .grey-table-common {
    table {
      caption {
        margin-bottom: 20px;
      }
    }
  }
}