.main-vacancies {
  .vacancies-common{
    margin-top: 30px;

    .single-button-common {
      display: block;

      a {
        padding: 10px 25px;
      }
    }

    .tile {
      padding: {
        right: 50px;
      }

      .single-button-common {
        margin: {
          bottom: 0;
        }

        a {
          margin: {
            top: 0;
          }
        }
      }
    }
  }

  .single-button-common {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    a {
      margin-top: 40px;
      padding: 15px 60px;
    }
  }
}