
body {
  background-color: yellow;

  //@import "part";

  &:hover {
    color: green;
  }

  #main {
    &-hi {
      color: black;
    }
  }

  margin: {
    top: 5px;
    bottom: 10px;
    left: 40px;
    right: 50px;
  }

  %item-base {
    display: inline-block;
    transition: all .5s ease;
    max-width: 320px;
  }

  .item-type-one {
    @extend %item-base;
    margin-top: 20px;
  }

  .item-type-two {
    @extend %item-base;
    margin-top: 10px;
  }

  $summ: (10+20) / 2;
  $cn: content;

  .selector {
    margin: {
      top: $summ + px;
      bottom: 12px + 8px;
    }
    background-color: trans + parent;
    #{$cn}: "con" + "tent"
  }

  $in: интер;

  .interpol {
    content: "#{$in}поляция";
  }

  background-color: rgba(#333, 0.75);

  @at-root {
    //поднимает в корень все что внутри
    .item {
      color: #456;
    }
  }

  .item {
    color: #654;
  }

  $var1: 4;

  .selector {
    @if $var1 > 5 {
      content: '> 5';
    } @else if $var1 < 5 {
      content: '< 5';
    } @else {
      content: '';
    }
  }

  $type: monster;
  p {
    @if $type == ocean {
      color: blue;
    } @else if $type == matador {
      color: red;
    } @else if $type == monster {
      color: green;
    } @else {
      color: black;
    }
  }

  @for $i from 1 to 11 { //through место to, если требуется "включительно"
    .item-#{$i} {
      background-image: url("img/#{$i}.jpg");
    }
  }

  @each $name in carousel, block, vertical, reviews, footer {
    .section-#{$name} {
      background-image: url("img/#{$name}.jpg");
    }
  }

  $i: 7;

  @while $i > 0 {
    .item-#{$i} {
      width: 1em * $i;
    }

    $i: $i - 2;
  }

  //$i: 6;
  //@while $i > 0 {
  //  .item-#{$i} { width: 2em * $i; }
  //  $i: $i - 2;
  //}

  @mixin border($color) {
    border: $color 1px solid;
  }

  p {
    @include border(#333);
  }

  @mixin transition($time) {
    transition: all $time ease;
  }

  p {
    @include transition(.25s);
  }
}
