@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('http://allfont.ru/allfont.css?fonts=bebas-neue');

@font-face {
  font-family: HelveticaNeueCyr Roman;
  src: url(../fonts/helveticaneue-roman-webfont-webfont.ttf);
}

body {
  margin: {
    left: 0;
    right: 0;
  }
}

.hover-pink:hover {
  background-color: #bb1241 !important;
  color: #fff !important;
  border-color: #bb1241 !important;
}

.container {
  width: 100%;

  .inner-container {
    max-width: 1170px;
    margin: {
      left: auto;
      right: auto;
    }
  }

  header {

    .header-top {
      max-width: 1139px;
      margin: {
        left: auto;
        right: auto;
      }
    }
    text-transform: uppercase;

    .header-top {
      display: flex;
      justify-content: space-between;
      height: 100px;

      .logo-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 390px;
        min-width: 390px;

        .header-title {
          font-family: 'Open Sans Extrabold', sans-serif;
          font-size: 14px;
          color: #344f86;
        }

        .header-title, .header-logo {
          margin: {
            left: 15px;
            //right: 15px;
          }
        }
      }

      .header-search {
        width: 330px;
        min-width: 330px;
        display: flex;
        flex-wrap: wrap;
        margin: {
          left: 15px;
          right: 15px;
        }

        .download-link {
          display: inline-block;
          order: 2;
          font-family: 'Open Sans', sans-serif;
          font-weight: bold;
          font-size: 10px;
          margin-top: 3px;

          a {
            color: #454545;
          }

          img {
            margin-right: 5px;
          }

          a, img {
            display: inline-block;
            vertical-align: bottom;
          }

          &:nth-child(1) {
            width: 58%;

            img {
              margin-left: 5px;
            }
          }

          &:nth-child(2) {
            width: 42%;
          }
        }

        form {
          width: 100%;
          order: 3;
          position: relative;
          margin-top: -18px;

          input {
            outline: none;
          }

          input[type="text"] {
            height: 38px;
            padding-left: 10px;
            border: 1px solid #dcdcdc;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 11px;
            text-transform: uppercase;
            width: 315px;
          }

          input[type="image"] {
            position: absolute;
            left: 299px;
            top: 12px;
          }

          ::-webkit-input-placeholder {
            color: #dddddd;
          }
          ::-moz-placeholder {
            color: #dddddd;
          }
          /* Firefox 19+ */
          :-moz-placeholder {
            color: #dddddd;
          }
          /* Firefox 18- */
          :-ms-input-placeholder {
            color: #dddddd;
          }
        }
      }

      .social-buttons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 83px;
        min-width: 83px;
        margin: {
          left: 15px;
          right: 15px;
        }

        a {
          width: 36px;
          height: 36px;
          margin: 30px auto;
        }

        a:nth-child(1) {
          margin-left: 0;
        }

        a:nth-child(2) {
          margin-right: 0;
        }
      }

      .phone-email {
        width: 180px;
        min-width: 180px;
        margin: {
          left: 15px;
          right: 15px;
        }
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .phone {
          font-family: 'Open Sans Extrabold', sans-serif;
          font-size: 20px;
          color: #272727;
        }

        .email {
          font-family: 'Open Sans', sans-serif;
          font-weight: bold;
          font-size: 10px;
          color: #62a1da;
          text-decoration: underline;
        }

        div {
          width: 100%;
          margin-top: -12px;
        }
      }

      .header-camera {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        width: 65px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -8px;

        span {
          font-family: 'Open Sans', sans-serif;
          font-weight: bold;
          font-size: 10px;
          color: #3c3c3c;
          display: block;
        }

        div {
          width: 100%;
          text-align: center;
        }
      }
    }

    .header-menu {
      background: url(../img/menu-bg.png) no-repeat;
      background-size: cover;
      height: 57px;

      div {
        height: 57px;
        width: 1170px;
        min-width: 1170px;
        margin: {
          left: auto;
          right: auto;
        }

        nav {
          height: 57px;
          margin: {
            left: 15px;
            right: 15px;
          }
          display: flex;
          justify-content: space-between;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            font-size: 12px;
            color: #fff;
            text-decoration: none;
            width: 127px;
            text-align: center;
            border-right: 1px solid #e4e4e4;
          }

          a:first-child {
            border-left: 1px solid #e4e4e4;
          }
        }
      }
    }
  }

  .main {
    .slider {
      background: url("../img/slider-bg.png") no-repeat;
      background-size: cover;

      .slide {
        width: 1139px;
        padding-top: 28px;
        padding-bottom: 28px;

        .slide-content {
          width: 663px;
          margin: {
            left: auto;
            right: auto;
          }

          .top-block {
            background: #fff;
            text-align: center;
            text-transform: uppercase;
            height: 175px;
            h1 {
              margin: 0;
              font-family: 'Bebas Neue Regular', sans-serif;
              font-weight: bold;
              font-size: 130px;
              color: #dc8344;
            }

            span {
              font-family: 'Bebas Neue Regular', sans-serif;
              font-weight: bold;
              font-size: 29px;
              color: #000;
              display: block;
            }
          }

          .tiles-top, .tiles-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .tile {
            width: 154px;
            height: 114px;
            margin-top: 13px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;

            span {
              font-family: 'Bebas Neue Regular', sans-serif;
              font-weight: bold;
              font-size: 18px;
              color: #333333;
            }

            span, div {
              display: block;
            }

            div {
              width: 100%;

              div {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
              }
            }
          }

          .slider-button {
            font-family: 'Open Sans Extrabold', sans-serif;
            font-size: 14px;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            display: block;
            background-color: #dc8344;
            padding: 15px 0;
            border: 2px solid #fff;
            width: 258px;
            text-align: center;
            margin: {
              left: auto;
              right: auto;
              top: 23px;
              bottom: 23px;
            }
          }
        }
      }
    }

    .about {
      background: url("../img/about-bg.png") no-repeat;
      background-size: cover;

      .inner-container {
        padding-top: 38px;
        padding-bottom: 110px;
      }

      h2 {
        margin-top: 0;
        font-family: 'Bebas Neue Regular', sans-serif;
        font-size: 60px;
        color: #fff;
        text-align: center;
      }

      .wrapper {
        display: flex;
        justify-content: space-between;

        .left-side {
          //height: 398px;
          height: 404px;
          width: 263px;

          .news-date {
            height: 313px;
            position: relative;
            text-transform: uppercase;

            .date-container {
              position: absolute;
              top: 0;

              .date {
                display: inline-block;
                padding: 15px 20px;
                font-family: 'Open Sans Extrabold', sans-serif;
                font-size: 14px;
                color: #272727;
                text-align: center;
                border-right: 1px solid #e4e4e4;

                span {
                  font-family: 'Open Sans Extrabold', sans-serif;
                  font-size: 30px;
                  color: #272727;
                }
              }

              .title {
                font-family: 'Open Sans Extrabold', sans-serif;
                font-size: 20px;
                color: #272727;
                padding: {
                  top: 33px;
                  left: 9px;
                }
                display: inline-block;
                vertical-align: top;
              }
            }
          }

          .news-tile {
            height: 100%;

            div.desc {
              position: relative;
              background-color: #525252;
              padding: {
                left: 18px;
                right: 15px;
              }

              span {
                display: block;
              }

              span.title {
                font-family: 'Open Sans Extrabold', sans-serif;
                font-size: 18px;
                color: #fff;
                text-transform: uppercase;
                padding: {
                  top: 13px;
                  bottom: 10px;
                }
              }

              span.desc {
                font-family: 'HelveticaNeueCyr Roman', sans-serif;
                font-size: 13px;
                color: #fefefe;
                padding: {
                  bottom: 14px;
                }
              }
            }
          }

          .all-news-button {
            display: inline-block;
            margin-top: 15px;
            padding: {
              left: 78px;
              right: 77px;
              top: 18px;
              bottom: 18px;
            }
            border: 3px solid #fff;
            font-family: 'Open Sans Extrabold', sans-serif;
            font-size: 14px;
            color: #272727;
            text-transform: uppercase;
            text-decoration: none;
            white-space: nowrap;
          }
        }

        .center {
          width: 557px;

          .map {
            background: url('../img/event-map-bg.png') no-repeat;
            background-size: cover;
            height: 87px;
            display: flex;
            align-items: center;
            padding-left: 28px;
            border-radius: 2px;

            span {
              font-family: 'Bebas Neue Regular', sans-serif;
              font-size: 45px;
              color: #fff;
              margin-left: 11px;
            }

            img, span {
              display: inline-block;
              vertical-align: middle;
            }
          }

          .desc {
            background-color: #fff;
            border-radius: 2px;
            margin-top: 36px;
            height: 296px;

            img, h3 {
              display: inline-block;
              vertical-align: middle;
            }

            padding: {
              top: 31px;
              bottom: 31px;
              left: 31px;
              right: 44px;
            }

            h3 {
              font-family: 'Bebas Neue Regular', sans-serif;
              font-size: 36px;
              color: #404040;
              margin: {
                top: 0;
                bottom: 0;
              }
              margin-left: 8px;
            }

            .text {
              font-family: 'Open Sans', sans-serif;
              font-size: 17px;
              color: #1a1e25;
            }
          }
        }

        .right-side {
          width: 276px;

          .calendar {
            background-color: #fff;
            height: 185px;
            min-height: 185px;
            padding: {
              left: 15px;
              right: 15px;
              top: 10px;
              bottom: 10px;
            }
            border-radius: 2px;
            text-transform: uppercase;

            .calendar-title {
              font-family: 'Open Sans Extrabold', sans-serif;
              font-size: 20px;
              color: #272727;
              text-align: center;
            }

            table {
              width: 100%;
              height: 124px;
              text-align: center;
            }

            table td,
            table th {
              //height: 20px;
              line-height: 16px;
            }

            table caption {
              background-color: #62a1da;
              font-family: 'Open Sans', sans-serif;
              font-weight: bold;
              font-size: 14px;
              color: #fff;
              width: 100%;
              text-align: center;
              padding: {
                top: 8px;
                bottom: 8px;
              }
            }

            table tr th, table tr td {
              font-family: 'Open Sans', sans-serif;
              font-weight: bold;
              font-size: 14px;
            }

            table tr th:nth-child(6),
            table tr th:nth-child(7),
            table tr td:nth-child(6),
            table tr td:nth-child(7) {
              color: #bb1241;
            }

            table tr .grey {
              color: #cccccc;
            }

            table tr .blue {
              color: #fff !important;
              background-color: #62a1da;
            }
          }

          .inform {
            height: 175px;
            margin-top: 22px;
            background-image: url('../img/all-to-skiing.png');
            background-size: cover;
            //border-radius: 2px;

            .date {
              display: inline-block;
              padding: 15px 20px;
              font-family: 'Open Sans Extrabold', sans-serif;
              font-size: 14px;
              color: #fff;
              text-align: center;
              border-right: 1px solid #e4e4e4;
            }

            .date span {
              font-family: 'Open Sans Extrabold', sans-serif;
              font-size: 30px;
            }

            .title, .desc {
              display: block;
              padding: {
                left: 15px;
              }
            }

            .title {
              font-family: 'Open Sans Extrabold', sans-serif;
              font-size: 18px;
              color: #fff;
              padding-bottom: 8px;
              padding-top: 20px;
            }

            .desc {
              font-family: 'HelveticaNeueCyr Roman', sans-serif;
              font-size: 13px;
              color: #fefefe;
            }

            a {
              display: inline-block;
              margin-top: 36px;
              padding: {
                left: 33px;
                right: 33px;
                top: 18px;
                bottom: 18px;
              }
              border: 3px solid #fff;
              font-family: 'Open Sans Extrabold', sans-serif;
              font-size: 14px;
              color: #272727;
              text-transform: uppercase;
              text-decoration: none;
              white-space: nowrap;
            }
          }
        }
      }

      .icons {
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;

        .item {
          text-transform: uppercase;
          width: 286px;
          margin-left: 53px;
          margin-right: 53px;

          img, span {
            display: block;
          }

          span {
            font-family: 'Bebas Neue Regular', sans-serif;
            font-size: 24px;
            color: #172023;
            margin-top: 10px;
          }
        }

        .item:first-child {
          margin-left: 0;
        }
      }
    }

    .photo, .video {
      h3 {
        font-family: 'Bebas Neue Regular', sans-serif;
        font-size: 60px;
        color: #272727;
        text-align: center;
        margin-top: 0;
      }

      .wrapper {
        display: flex;
        justify-content: space-between;

        .tile {
          width: 380px;
          height: 250px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-size: cover;
          background-repeat: no-repeat;

          &:nth-child(1) {
            .tile-inner {
              width: 225px;
            }
          }

          &:nth-child(2) {
            .tile-inner {
              width: 160px;
            }
          }

          &:nth-child(3) {
            .tile-inner {
              width: 193px;
            }
          }

          .tile-inner {
            background-color: rgba(0, 0, 0, 0.46);
            color: #fff;
            padding: 15px;

            & > span {
              display: block;
              font-family: 'Bebas Neue Regular', sans-serif;
              font-size: 24px;
            }

            .tile-desc {
              display: flex;
              align-items: center;
              justify-content: center;
              padding-top: 10px;

              img {
                padding-right: 10px;
              }

              span {
                display: block;
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
              }
            }
          }
        }
      }

      .more-photo, .more-video {
        display: flex;
        margin-bottom: 35px;
        a {
          display: inline-block;
          margin-top: 30px;
          //width: 262px;
          margin-left: auto;
          margin-right: auto;
          padding: {
            left: 88px;
            right: 88px;
            top: 13px;
            bottom: 13px;
          }
          border: 3px solid #ededed;
          font-family: 'Open Sans Extrabold', sans-serif;
          font-size: 14px;
          color: #272727;
          text-transform: uppercase;
          text-decoration: none;
          white-space: nowrap;
        }
      }
    }

    .photo .tile:nth-child(1) {
      background-image: url("../img/photo-1.png");
    }

    .photo .tile:nth-child(2) {
      background-image: url("../img/photo-2.png");
    }

    .photo .tile:nth-child(3) {
      background-image: url("../img/photo-3.png");
    }

    .video .tile:nth-child(1) {
      background-image: url("../img/video-1.png");
    }

    .video .tile:nth-child(2) {
      background-image: url("../img/video-2.png");
    }

    .video .tile:nth-child(3) {
      background-image: url("../img/video-3.png");
    }

    .testimonial {
      h3 {
        font-family: 'Bebas Neue Regular', sans-serif;
        font-size: 60px;
        color: #272727;
        text-align: center;
        margin-bottom: 30px;
      }

      .wrapper {
        display: flex;
        justify-content: center;

        .tile {
          width: 33.3%;
          border-right: 1px solid #ededed;
          padding-right: 25px;
          padding-left: 25px;

          &:nth-child(1) {
            //padding-left: 0;
          }

          &:nth-child(3) {
            border-right: none;
          }

          .tile-title {
            display: flex;
            align-items: center;

            div {
              padding-left: 15px;
              span, a {
                display: block;
                font-size: 14px;
              }

              span {
                font-family: 'Open Sans Extrabold', sans-serif;
                color: #272727;
                margin-bottom: 4px;
              }

              a {
                font-family: 'Open Sans Semibold', sans-serif;
                color: #5f8cc9;
              }
            }
          }

          p {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: #272727;
          }
        }
      }

      .two-buttons {
        display: flex;
        justify-content: center;
      }

      .two-buttons a, .single-button a {
        display: inline-block;
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: #ededed;
        padding: {
          left: 65px;
          right: 65px;
          top: 18px;
          bottom: 18px;
        }
        font-family: 'Open Sans Extrabold', sans-serif;
        font-size: 14px;
        color: #272727;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
      }

      .single-button {
        display: flex;
        justify-content: center;

        a {
          background: none;
          border: 3px solid #ededed;
          margin-top: 15px;
          padding: {
            left: 80px;
            right: 80px;
            top: 15px;
            bottom: 15px;
          }
        }
      }
    }
  }
}